
<div class="conatiner innerAbout" id="about">
    <div class="heading">
        <h1>About Me</h1>
    </div>
    <div class="row d-flex justify-content-center">
        <hr class="aboutHR">
    </div>
    <div class="row d-flex justify-content-center">
            <img [src]="userData.image" class="myImage">
    </div>
    <div class="row">
            <div class="col mainR">
            <p class="contentMe mainR"> 💬 Student, self-taught programmer.<br>
                📙 Studies at Vidyavardhini's College Of Engineering & Technology, Mumbai<br>
                🔭 Interested in web-development, open-source contribution , cloud computing, DevOps, passionate about all things tech.<br>
                🖥 Develops webapps, constructs CI/CD pipelines<br>
                📚 Majoring in Computer engineering<br>
        <i>"I have a MEAN addiction to coding and I'm not ashamed to admit it!"<br></i>
        <i>"I'm hoping to MERN all the things when it comes to web development!"<br></i>
        Aspiring to become a MERN/MEAN stack developer and becoming proficient in making puns
            </p>
    </div>
    </div>
    <div class="row soicalLinks">
        <ul class="d-flex justify-content-center">
            <li *ngFor="let social of socialMedia">
                <a [href]="social.profileLink"><img [src]="social.imageLink" class="socialIcons" width="37px"></a>
            </li>
        </ul>
    </div>
</div>
